@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
   background: hsl(214, 17%, 92%);
   color: white;
    font-family: system-ui;
}
.parent{
 
    margin: auto;
    margin-top: 40px;
    width: 90%;
    padding: 30px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(4,250px);
    grid-template-rows: repeat(2,300px);
    justify-content: center;
    align-content: center;
    gap: 10px;
    grid-template-areas: 
    
    "item1 item1 item3 item4 "

    "item5 item6 item6 item4"
    
    
    ;
}
.parent div{
  border-radius: 7px;
}


.parent .item1 {
   background:hsla(263, 100%, 50%, 0.709);
   grid-area: item1;
   
}



.parent .item2 {
   background:  ;
   grid-area: item2;
}
.parent .item3 {
   background: hsl(217, 19%, 35%) ;
   grid-area: item3;

   
}
.parent .item4 {
   background: hsl(0, 0%, 100%);
   grid-area: item4;
   
}
.parent .item5 {
   background: hsl(0, 0%, 100%) ;
   grid-area: item5;
  
}
.parent .item6 {
   background: hsl(219, 29%, 14%) ;
   grid-area: item6;
}
.parent .item7 {
   background:  ;
   grid-area: item7;
}
.parent .item8 {
   background:  ;
   grid-area: item8;
}

/*profile 1*/
.profile1{
   margin-top: 15px;
   height: 50px;
   display: flex;
   align-items: center;
   padding: 5px 30px;
  
}

.profile1 img{
   width: 35px;
   border-radius: 50%;
   border: solid white 2px;
}
.profile1 .name1{
   font-size: 8px;
   padding-left: 15px;
}

.profile1 h2{
   height: 5px;
}
.profile1 h3{
  color: rgba(255, 255, 255, 0.629);
}

.paragraphs{
   padding: 0 30px;

}
.paragraphs h3{
   font-size: 15px;
   height: 50px;
}
.paragraphs p{
   font-size: 13px;
   font-weight: 500;
   color:rgb(255, 255, 255, 0.629);
   
}

i{
   font-size:150px;
   position: absolute;
   right: 50px;
   top: 10px;
   z-index: -1;
    
}

.item1{
  position: relative;
}


/* profile2 */
.profile2{
   margin-top: 15px;
   height: 50px;
   display: flex;
   align-items: center;
   padding: 5px 30px;
  
}

.profile2 .name2{
font-size: 8px;
   padding-left: 15px;
  
}

.profile2 img{
   width: 35px;
   border-radius: 50%;
   border: solid white 2px;
}
.profile2 h2{
   height: 5px;
}
.profile2 h3{
  color: rgba(255, 255, 255, 0.629);
}

.paragraphs2{
padding: 0 30px;
}
.paragraphs2 h3{
  font-size: 15px;
   height: 50px;
}

.paragraphs2 p{
    font-size: 13px;
   font-weight: 500;
   padding-top: 20px;
   color:rgb(255, 255, 255, 0.629);
}

/* rpofile3*/
.profile3{
   margin-top: 15px;
   height: 50px;
   display: flex;
   align-items: center;
   padding: 5px 30px;
  
}

.profile3 .name3{
font-size: 8px;
   padding-left: 15px;
  
}

.profile3 img{
   width: 35px;
   border-radius: 50%;
   border: solid rgb(0, 0, 0) 2px;
}
.profile3 h2{
   height: 5px;
   color: black;
}
.profile3 h3{
  color: rgba(0, 0, 0, 0.651);
}

.paragraphs3{
padding: 0 30px;
}
.paragraphs3 h3{
  font-size: 15px;
   height: 50px;
   color: black;
}

.paragraphs3 p{
    font-size: 13px;
   font-weight: 500;
   padding-top: 20px;
   color:rgba(0, 0, 0, 0.629);
}

/*profile4*/

.profile4{
   margin-top: 15px;
   height: 50px;
   display: flex;
   align-items: center;
   padding: 5px 30px;
  
}

.profile4 .name4{
font-size: 8px;
   padding-left: 15px;
  
}

.profile4 img{
   width: 35px;
   border-radius: 50%;
   border: solid rgb(0, 0, 0) 2px;
}
.profile4 h2{
   height: 5px;
   color: black;
}
.profile4 h3{
  color: rgba(0, 0, 0, 0.651);
}

.paragraphs4{
padding: 0 30px;
}
.paragraphs4 h3{
  font-size: 15px;
   height: 30px;
   width: 150px;
   margin-bottom: 30px;
   color: black;
}

.paragraphs4 p{
    font-size: 13px;
   font-weight: 500;
   padding-top: 20px;
   color:rgba(0, 0, 0, 0.629);
}

/*profile5*/

.profile5{
   margin-top: 15px;
   height: 50px;
   display: flex;
   align-items: center;
   padding: 5px 30px;
  
}

.profile5 .name5{
font-size: 8px;
   padding-left: 15px;
  
}

.profile5 img{
   width: 35px;
   border-radius: 50%;
   border: solid white 2px;
}
.profile5 h2{
   height: 5px;
}
.profile5 h3{
  color: rgba(255, 255, 255, 0.629);
}

.paragraphs5{
padding: 0 30px;
}
.paragraphs5 h3{
  font-size: 15px;
   height: 50px;
}

.paragraphs5 p{
    font-size: 13px;
   font-weight: 500;
   padding-top: 20px;
   color:rgb(255, 255, 255, 0.629);
}

@media(min-width:100px)and (max-width:700px){
   .parent{
 
    margin: auto;
    margin-top: 40px;
    width: 90%;
    padding: 30px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1,250px);
    grid-template-rows: repeat(1,600px);
    justify-content: center;
    align-content: center;
    gap: 10px;
    grid-template-areas: 
    
    "item1"
    "item2"
    "item3"
    "item4"
    "item5"
    "item6"
    "item7"
    "item8"
    
    ;


}
.paragraphs p{
   font-size: 13px;
   font-weight: 500;
   padding-top: 70px;
   color:rgb(255, 255, 255, 0.629);
   
}
.paragraphs5 p{
    font-size: 13px;
   font-weight: 500;
   padding-top: 70px;
   color:rgb(255, 255, 255, 0.629);
}
 }


@media(min-width:701px)and (max-width:1023px){
   .parent{
 
    margin: auto;
    margin-top: 40px;
    width: 90%;
    padding: 30px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,250px);
    grid-template-rows: repeat(1,500px);
    justify-content: center;
    align-content: center;
    gap: 10px;
    grid-template-areas: 
    
    "item1 item2"
    "item3 item4"
    "item5 item6"
    "item7 item8"
    
    ;


}

.paragraphs p{
   font-size: 13px;
   font-weight: 500;
   padding-top: 70px;
   color:rgb(255, 255, 255, 0.629);
   
}
.paragraphs5 p{
    font-size: 13px;
   font-weight: 500;
   padding-top: 70px;
   color:rgb(255, 255, 255, 0.629);
}

 }
